# due to differences in shell this file is input to specific shell dotfiles
# format: alias_name    alias_expansion
#vi "vim"
cd.. "cd .."
cp "cp -i"
grep "grep -n"
h "history"
ls "ls -FaG"
mv "mv -i"
remake 'make clean && make'
rm "rm -i"
ssh "ssh -X"
svnaction "svn status | awk '/^[^?]/ { print }'"
svnmodified "svn status | awk '/^M|^A|^D/ { print }'"
svnnew "svn status | awk '/^?/ { print }'"
